@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: optional;
  font-style: swap;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrainsMono";
  font-weight: 400;
  font-display: optional;
  font-style: swap;
  src: url("/fonts/jetbrain-regular.woff2") format("woff2");
}
