:root {
  --theme-bg: var(--hi-contrast);
  --theme-txt: var(--hi-contrast);
  --theme-btn-act: var(--blue-5);
  --theme-btn-hov: var(--blue-4);
}

$colors: hiContrast blue yellow red green orange pink violet;

@for $i from 1 through length($colors) {
  $val: nth($colors, $i);

  html[data-theme-index="#{calc($i - 1)}"] {
    @if $val ==hiContrast {
      --theme-bg: var(--#{$val});
      --theme-txt: var(--#{$val});
      --theme-btn-act: var(--blue-5);
      --theme-btn-hov: var(--blue-4);
    } @else {
      --theme-bg: var(--#{$val}-9);
      --theme-txt: var(--#{$val}-11);
      --theme-btn-act: var(--#{$val}-5);
      --theme-btn-hov: var(--#{$val}-4);
    }
  }
}

[aria-current="page"] {
  font-weight: 600;
  color: var(--theme-txt);
}

[aria-current="false"] {
  font-weight: 400;
  color: var(--slate-11);
}

.theme-btn {
  color: var(--theme-txt);
  &:hover {
    background-color: var(--theme-btn-hov);
  }
  &:active {
    background-color: var(--theme-btn-act);
  }
}

.theme-txt {
  color: var(--theme-txt);
}

.theme-bg {
  background-color: var(--theme-bg);
}
