---
import type { TokenPayload } from "~/utils/auth";
interface Props {
  user: TokenPayload | null;
}
import Popover from "../popover";

const { user } = Astro.props as Props;
---

<div class="my-4 w-full rounded border-2 border-dashed border-slate-8 p-6">
  <h5 class="text-lg font-bold md:text-xl">
    Share a message for a future visitor of my site.
  </h5>
  <Popover data={user} client:idle />
  <p class="max-w-sm text-sm">
    Your information is only used to display your name.
  </p>
</div>
