---
import Layout from "~/layouts/Layout.astro";
import SocialLinks from "~/components/social-links/index.astro";
---

<Layout title="Welcome to Astro.">
  <section class="flex flex-col sm:mb-0 mb-20">
    <h1 class="text-5xl font-extrabold tracking-tighter sm:text-7xl mb-8 max-w-3xl">
      Developer with an appetite for interfaces and websites.
    </h1>

    <div class="font-mono flex flex-col gap-y-1 text-sm sm:text-base sm:max-w-xl max-w-72 text-slate11 text-slate11">
      <p>
        Hey, I’m Nafees Nazik <br />a Sri Lanka based UI developer. I love
        working at the intersection of creativity and user friendly interfaces.
        also a big Barça fan and football enthusiast.
      </p>

      <p>
        I'm currently working as a <em>Software Engineer Intern</em> at{" "}
        <span class="underline decoration-hi-contrast underline-offset-2 decoration-dotted">
          TWC Innovations.
        </span>
      </p>
    </div>
  </section>
  <SocialLinks />
</Layout>