---
import Layout from "~/layouts/Layout.astro";
import SocialLinks from "~/components/social-links/index.astro";
import { Image } from "@astrojs/image/components";
---

<Layout title="Developer">
  <section class="flex flex-col sm:mb-0 mb-20">
    <div class="mb-4 sm:hidden block">
      <Image
        format="webp"
        src={import("../assets/image-2.jpg")}
        class="rounded-full"
        width={80}
        height={80}
        alt="potrait"
      />
    </div>
    <h1
      data-animate
      style="--stagger:1"
      class="text-5xl font-extrabold tracking-tighter sm:text-7xl mb-4 max-w-3xl"
    >
      Developer with an appetite for interfaces and websites.
    </h1>

    <div
      data-animate
      style="--stagger:2"
      class="font-mono flex flex-col gap-y-1 text-sm sm:text-base sm:max-w-xl max-w-72 text-slate11 text-slate11"
    >
      <p>
        Hey, I’m Nafees Nazik <br />a Sri Lanka based UI developer. I love
        working at the intersection of creativity and user friendly interfaces.
        also a big Barça fan and football enthusiast.
      </p>

      <p>
        I'm currently working as a <u>Software Engineer Intern</u> at{" "}
        <span
          class="underline decoration-hi-contrast underline-offset-2 decoration-dotted"
        >
          TWC Innovations.
        </span>
      </p>
    </div>
    <SocialLinks />
  </section>
</Layout>
