---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Developer">
  <table class="header">
    <tbody
      ><tr>
        <td colspan="2" rowspan="3" class="width-auto">
          <h1 class="title">Nafees Nazik</h1>
          <span class="subtitle">
            Developer with an appetite for interfaces and websites.
          </span>
        </td>
        <td class="width-min"
          ><a href="https://www.linkedin.com/in/nafees-nazik">LinkedIn</a></td
        >
      </tr>
      <tr>
        <td class="width-min"><a href="https://twitter.com/nfs__21">X</a></td>
      </tr>
      <tr>
        <td class="width-min"><a href="https://github.com/G3root">GitHub</a></td
        >
      </tr>
    </tbody>
  </table>
  <nav id="TOC">
    <h2 id="toc-title">Contents</h2>
    <ul class="incremental">
      <li><a href="#introduction">Introduction</a></li>
      <li><a href="#experience">Experience</a></li>
    </ul>
  </nav>

  <h2 id="introduction">Introduction</h2>
  <p>
    A developer who loves to create user-friendly and creative digital
    experiences. I’m skilled in React, Node, and JavaScript frameworks, and I
    enjoy bringing new ideas to life through code. I believe the best products
    are those that are easy to use and nice to look at, and I work hard to
    achieve this balance in everything I build.
  </p>

  <p>
    I take pride in making complex things simple and creating interfaces that
    people enjoy using. In addition to my regular work, I’m very involved in the
    open-source community. I contribute to projects that I find interesting and
    that help other developers. When I’m not coding, I like to keep up with the
    latest trends in technology and experiment with new tools and techniques.
  </p>

  <h2 id="experience">Experience</h2>

  <ul class="incremental">
    <li>Cal.com, inc</li>
    <ul class="incremental">
      <li>Software Engineer Intern</li>
      <li>Jan-2023 - Jun-2023</li>
    </ul>
  </ul>

  <ul class="incremental">
    <li>TWC innovations - Colombo</li>
    <ul class="incremental">
      <li>Software Engineer Intern</li>
      <li>May-2022 - Dec-2022</li>
    </ul>
  </ul>
  <hr />
  <p>
    Design <a href="https://github.com/owickstrom/the-monospace-web"
      >THE MONOSPACE WEB</a
    > by <a href="https://wickstrom.tech/">Oskar Wickström</a>
  </p>
</MainLayout>
