---
import PageTitle from "~/components/page-title/index.astro";
import PageSubtitle from "~/components/page-subtitle/index.astro";
import Layout from "~/layouts/Layout.astro";
import { getAllNfts } from "~/features/nft-page/api/nfts";
import { NftList } from "~/features/nft-page/components";
const data = await getAllNfts()
---

<Layout title="NFT-Gallery">
  <div class="flex flex-col">
    <PageTitle title="NFT Gallery" />
    <PageSubtitle content="An overview of NFTs in my wallet:" />
    <NftList data={data} client:load />
  </div>
</Layout>