---
import PageTitle from '~/components/page-title/index.astro';
import PageSubtitle from '~/components/page-subtitle/index.astro';
import Layout from '~/layouts/Layout.astro';
---

<Layout title="projects">
    <div class="flex flex-col">
        <PageTitle title="NFT Gallery" />
        <PageSubtitle content="An overview of NFTs in my wallet:" />
    </div>
</Layout>