---
import PageTitle from "~/components/page-title/index.astro";
import PageSubtitle from "~/components/page-subtitle/index.astro";
import Layout from "~/layouts/Layout.astro";
import { getAllProjects } from "~/features/projects-page/api/project";
import ProjectList from "~/features/projects-page/components/project-list.astro";

const projects = await getAllProjects()


---

<Layout title="projects">
  <div class="flex flex-col">
    <PageTitle title="Projects" />
    <PageSubtitle content="List of projects I recently worked on and working on." />
    <ProjectList data={projects} />
  </div>
</Layout>