---
import { Icon } from "astro-icon";
---

<button
  type="button"
  class="flex items-center p-1 rounded-md theme-btn"
  aria-label="toggle dark/light mode"
  id="dark-mode-toggle"
>
  <span class="dark:hidden block">
    <Icon name="feather:moon" aria-hidden class="h-5 w-5" />
  </span>
  <span class="dark:block hidden">
    <Icon name="feather:sun" aria-hidden class="h-5 w-5" />
  </span>
</button>

<script>
  const root = document.documentElement;
  const darkModeToggle = document.querySelector("#dark-mode-toggle");

  function toggleDarkMode() {
    root.classList.toggle("dark");
    root.classList.toggle("light");

    const isDarktheme = root.classList.contains("dark");
    window.localStorage.setItem("theme", isDarktheme ? "light" : "dark");
  }

  if (darkModeToggle) {
    darkModeToggle.addEventListener("click", toggleDarkMode);
  }
</script>
