---
import DarkModeToggle from "./dark-mode-toggle.astro";
import ThemeToggle from "./theme-toggle.astro";
---

<div class="flex items-center w-full justify-between px-7 md:px-32 mt-8 mb-14">
  <div>
    <ThemeToggle />
  </div>

  <div>
    <DarkModeToggle />
  </div>
</div>
