---
const pathname = new URL(Astro.request.url).pathname;

import { NAV_LINKS } from "~/constants";
---

<div class="flex items-center gap-x-2">
  {
  NAV_LINKS.map((item) => (
  <a class="font-normal text-slate-11 rounded-lg p-1 transition duration-100 ease-in hover:bg-slate-3 sm:px-3 sm:py-2 md:inline-block"
    href={item.to} aria-current={`${pathname===item.to ? "page" : "false" }`}>
    {item.label}
  </a>
  ))
  }
</div>