---

---

<button
  type="button"
  aria-label="toggle theme color"
  class="p-3 rounded-full theme-bg"
  id="theme-toggle"></button>

<script>
  const themeToggle = document.querySelector("#theme-toggle");
  const root = document.documentElement;
  function toggleThemeButton() {
    const maxIndex = 7;
    const themeIndex = Number(root.getAttribute("data-theme-index"));
    const isLessThanMax = themeIndex < maxIndex;
    const currentIndex = isLessThanMax ? String(themeIndex + 1) : String(0);
    root.setAttribute("data-theme-index", currentIndex);
    window.localStorage.setItem("app-theme", currentIndex);
  }
  if (themeToggle) {
    themeToggle.addEventListener("click", toggleThemeButton);
  }
</script>
