---

---

<button type="button" aria-label="toggle dark/light mode" id="dark-mode-toggle">
  <span class="dark:hidden inline">Dark</span>
  <span class="dark:inline hidden">Light</span>
</button>

<script>
  const root = document.documentElement;
  const darkModeToggle = document.querySelector("#dark-mode-toggle");

  function toggleDarkMode() {
    root.classList.toggle("dark");
    root.classList.toggle("light");

    const isDarktheme = root.classList.contains("dark");
    window.localStorage.setItem("theme", isDarktheme ? "light" : "dark");
  }

  if (darkModeToggle) {
    darkModeToggle.addEventListener("click", toggleDarkMode);
  }
</script>
