---
export interface Props {
  title: string;
}
const { title } = Astro.props as Props;
---

<h1 data-animate style="--stagger:1" class="mb-4 text-3xl font-extrabold tracking-tight md:text-5xl">
  {title}
</h1>