---
import { Icon } from "astro-icon";
const Links = [
  {
    icon: "feather:twitter",
    label: "twitter account",
    href: "https://twitter.com/nfs__21",
  },
  {
    icon: "feather:github",
    label: "github account",
    href: "https://github.com/G3root",
  },
  {
    icon: "feather:linkedin",
    label: "linkedin account",
    href: "https://www.linkedin.com/in/nafees-nazik",
  },
  {
    icon: "feather:mail",
    label: "mail link",
    href: "mailto:nafeesnazik21@gmail.com",
  },
  {
    icon: "feather:instagram",
    label: "instagram account",
    href: "https://www.instagram.com/nafees_nazik.21/",
  },
];
---

<div class="flex items-center gap-x-2 mt-5">
  {
    Links.map((item) => (
      <a
        href={item.href}
        aria-label={item.label}
        class="flex items-center p-1.5 rounded-md theme-btn"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name={item.icon} aria-hidden class="h-5 w-5" />
      </a>
    ))
  }
</div>
