---
export interface Props {
  title: string;
  description: string | null;
  link: string;
}

const { title, description, link } = Astro.props as Props;
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class="py-4 px-3 hover:bg-slate-2"
  aria-label={title}
>
  <div class="text-lg font-bold">{title}</div>
  <div class="mt-2 font-mono text-slate-11 text-sm">{description}</div>
</a>
