---
import type { AllProjects } from "../api/project"
import ProjectCard from "./project-card.astro";
export interface Props {
    data: AllProjects
}


const { data } = Astro.props as Props
---

<div class="mb-5">
    {data.map((item) => (
    <div>
        <h2 data-animate class="mt-10 text-2xl  font-extrabold tracking-tight ">
            {item.title}
        </h2>

        <div data-animate style={{ "--stagger" : 3 }} class="grid grid-cols-1 md:grid-cols-3 mt-2">
            {item.Projects.map((project) => (
            <ProjectCard description={project.description} link={project.link} title={project.title} />
            ))}
        </div>
    </div>
    ))}
</div>