---
export interface Props {
	title: string;
}


import '~/styles/main.css';
const { title } = Astro.props as Props;

import Navbar from '~/components/navbar/index.astro';
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
	<script>
		import "waystone";
	</script>
</head>

<body>
	<Navbar />
	<main class="flex flex-col px-7 md:px-32 mb-10 sm:mb-0">
		<slot />
	</main>
</body>

</html>