---
export interface Props {
  title: string;
}

import "@fontsource-variable/jetbrains-mono";
import "~/styles/reset.css";
import "~/styles/main.css";

const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nafees Nazik - {title}</title>
    <meta
      content="UI developer interested in design systems and Interfaces."
      name="description"
    />
    <meta content="#FFF" name="theme-color" />
    <meta
      content="width=device-width,initial-scale=1,viewport-fit=cover"
      name="viewport"
    />
    <meta content="website" property="og:type" />
    <meta content="https://www.nafeez.xyz/" property="og:url" />
    <meta content="Nafees Nazik - Developer" property="og:title" />
    <meta
      content="UI developer interested in design systems and Interfaces."
      property="og:description"
    />
    <meta content="/static/og.jpg" property="og:image" />
    <meta content="/static/og.jpg" name="twitter:image" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="https://www.nafeez.xyz/" name="twitter:url" />
    <meta content="Nafees Nazik - Developer" name="twitter:title" />
    <meta
      content="UI developer interested in design systems and Interfaces."
      name="twitter:description"
    />
    <meta content="@NFS__21" name="twitter:creator" />
    <meta content="@NFS__21" name="twitter:site" />

    <link
      rel="icon"
      href="/static/favicon-32x32.png"
      type="image/png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="/static/favicon-16x16.png"
      type="image/png"
      sizes="16x16"
    />
    <link
      rel="apple-touch-icon"
      href="/static/apple-touch-icon.png"
      type="image/png"
      sizes="180x180"
    />
    <link rel="manifest" href="/static/site.webmanifest" />
    <link rel="icon" href="/favicon.ico" />

    <script is:inline>
      const root = document.documentElement;
      const storedSiteTheme = localStorage?.getItem("theme");
      const storedAppTheme = localStorage?.getItem("app-theme");

      const isNumber = (value) => !isNaN(value);

      const getAppTheme = (storedAppTheme) => {
        const parsedTheme = Number(storedAppTheme);
        return isNumber(parsedTheme) && parsedTheme <= 7 ? parsedTheme : 0;
      };

      const appTheme = getAppTheme(storedAppTheme);

      const theme =
        storedSiteTheme ||
        (window.matchMedia("(prefers-color-scheme: light)").matches
          ? "light"
          : "dark");

      root.classList.add(theme);
      root.setAttribute("data-theme-index", appTheme);
    </script>
  </head>

  <body>
    <slot />
  </body>
</html>
